@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body { 
  font-family: monospace;
  margin: 0; 
  font-size: 1.3rem;
  font-weight: normal;
}

canvas { 
  display: block; 
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover {
  cursor: pointer;
}

.icon-float{
	margin-top:18px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#webgl-error-message {
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
}